*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

section{
    width: 1024px;
    margin: auto;
}

header{
margin-top: 20px;
}

.container{
    width: 100%;
    padding:0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

h1{
    font-size: 36px;
    color: #F1651F;
    font-weight: 400;
    font-style: italic;
}


form{
    width: 100%;
    margin: 0px 20px;
    position: relative;

     }

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
     display: none;
     }

.search{
    font-size: 18px;
    width: 100%;
    background: #ebebeb;
    border: solid 2px #000000;
    border-radius: 25px;
    padding: 10px 65px 10px 20px;
    outline: none;
}

.icon_search{
    width: 40px;
    height: 40px;
    background: url(/img/outline_search_black_24dp.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top:50%;
    right: 0%;
    transform:translate(-50%, -50%);
}

.search:focus{
    background: #ffffff;
    transition: 0.5s;
}


.middle_button{
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    background: none;
    transition: .2s;
}


.middle_button:hover{
    background: #ebebeb;
}

/* -------------------nav-------------------- */


.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

li{
    list-style: none;
}

.a_nav{
    text-decoration: none;
    color: #949090;
	transition: .2s;
    /* list-style: none;
    text-decoration: none; */
}

.a_nav:hover{
    color: #000000;
}
