* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1024px;
  width: 100%;
  padding: 20px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 20px;
}

.container.header {
  margin-bottom: 0px;
}

h1 {
  font-size: 36px;
  color: #f1651f;
  font-weight: 400;
  font-style: italic;
}

form {
  width: 100%;
  margin: 0px 20px;
  position: relative;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.search {
  font-size: 18px;
  width: 100%;
  background: #ebebeb;
  border: solid 2px #000000;
  border-radius: 25px;
  padding: 10px 65px 10px 20px;
  outline: none;
}

.icon_search {
  width: 40px;
  height: 40px;
  background: url(/img/outline_search_black_24dp.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

.search:focus {
  background: #ffffff;
  transition: 0.5s;
}

.middle_button {
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  background: none;
  transition: 0.2s;
}

.middle_button:hover {
  background: #ebebeb;
}

/* -------------------nav-------------------- */

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

li {
  list-style: none;
}

.a_nav {
  text-decoration: none;
  color: #949090;
  transition: 0.2s;
}

.a_nav:hover {
  color: #000000;
}

.linea {
  width: 100%;
  height: 3px;
  background-color: #ebebeb;
}

/* -------------------main---------------------  */

/* -------------------new---------------------  */

.wrapper_article {
  width: 100%;
  background: #ddebe3;
  padding-bottom: 20px;
}
.container.article {
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.wrapper.products {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block.products.new {
  width: 24%;
  min-width: 200px;
}

.block.products {
  width: 18%;
  min-width: 178px;
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.block.products:hover {
  background: #ffffff5b;
}

.img.products {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.img.products.a {
  background: url(/img/new_product_a.jpg);
  background-size: cover;
}

.img.products.b {
  background: url(/img/new_product_b.jpg);
  background-size: cover;
}

.img.products.c {
  background: url(/img/new_product_c.jpg);
  background-size: cover;
}

.img.products.d {
  background: url(/img/new_product_d.jpg);
  background-size: cover;
}

.a_new_products {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-style: italic;
  font-size: 14px;
}

/* -------------------bestseller---------------------  */

.wrapper.products.bestseller {
  margin-bottom: 20px;
}

.block.products.bestseller,
.block.products.sale {
  padding: 20px 0px;
  margin: 0px 10px;
  position: relative;
  align-items: start;
}

.block.products:hover {
  background: #ffffff5b;
}

.img.products.bestseller,
.img.products.sale {
  padding-bottom: 100%;
  border: solid 1px #ddebe3;
  border-radius: 5px;
  transition: 0.2s;
}

.block.products:first-child {
  margin-left: 0px;
}

.block.products:last-child {
  margin-right: 0px;
}

.block.products:nth-child(5) {
  margin-right: 0px;
}

.block.products:nth-child(6) {
  margin-left: 0px;
}

.like {
  width: 40px;
  height: 40px;
  background: url(/img/outline_favorite_border_black_24dp.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 60px;
  right: 10px;
  transition: 0.2s;
  opacity: 0;
}

.like.active {
  background: url(/img/outline_favorite_black_24dp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.block.products.bestseller:hover .img.products.bestseller,
.block.products.sale:hover .img.products.sale {
  box-shadow: 0px 0px 10px #0000008f;
}

.block.products:hover .like {
  opacity: 1;
  top: 30px;
}

.img.products.bestseller,
.img.products.sale {
  padding-bottom: 78%;
}
.img.products.bestseller.a {
  background: url(/img/best_product_a.jpg);
  background-size: contain;
}

.img.products.bestseller.b {
  background: url(/img/best_product_b.jpg);
  background-size: contain;
}
.img.products.bestseller.c {
  background: url(/img/best_product_c.jpg);
  background-size: contain;
}
.img.products.bestseller.d {
  background: url(/img/best_product_d.jpg);
  background-size: contain;
}
.img.products.bestseller.e {
  background: url(/img/best_product_e.jpg);
  background-size: contain;
}
.img.products.bestseller.f {
  background: url(/img/best_product_f.jpg);
  background-size: contain;
}
.img.products.bestseller.g {
  background: url(/img/best_product_g.jpg);
  background-size: contain;
}
.img.products.bestseller.h {
  background: url(/img/best_product_h.jpg);
  background-size: contain;
}
.img.products.bestseller.i {
  background: url(/img/best_product_i.jpg);
  background-size: contain;
}
.img.products.bestseller.j {
  background: url(/img/best_product_j.jpg);
  background-size: contain;
}

.price.products {
  font-weight: 600;
  color: #949090;
  transition: 0.2s;
}

.block.products.bestseller:hover .price.products.bestseller {
  color: #000000;
}

/* -------------------sale---------------------  */

.wrapper.products.sale {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.block.products.sale.small {
  width: 40%;
  padding-bottom: 0px;
}

.super_offer {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 10px;
  color: #949090;
}

.section.products.sale.big {
  width: 58%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block.products.sale.big {
  width: 32%;
}

.block.products.sale.big {
  padding-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.block.products.sale.big:nth-child(3) {
  margin-right: 0px;
}
.block.products.sale.big:last-child {
  margin-right: 0px;
}

.block.products.sale.big:nth-child(4) {
  margin-left: 0px;
}
.block.products.sale.big:first-child {
  margin-left: 0px;
}

.wrapper_price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price.products {
  width: 40%;
}
.price.products.diskont {
  width: 60%;
}

.price.products.diskont {
  text-align: end;
  font-size: 12px;
  font-weight: 400;
}

.block.products.sale:hover .super_offer {
  color: #25863b;
}

.block.products.sale:hover .price.products.new {
  color: #d11616;
}

.img.products.sale.a {
  background: url(/img/sale_product_a.jpg);
  background-size: contain;
}

.img.products.sale.b {
  background: url(/img/sale_product_b.jpg);
  background-size: contain;
}

.img.products.sale.c {
  background: url(/img/sale_product_c.jpg);
  background-size: contain;
}
.img.products.sale.d {
  background: url(/img/sale_product_d.jpg);
  background-size: contain;
}
.img.products.sale.e {
  background: url(/img/sale_product_e.jpg);
  background-size: contain;
}
.img.products.sale.f {
  background: url(/img/sale_product_f.jpg);
  background-size: contain;
}
.img.products.sale.g {
  background: url(/img/sale_product_g.jpg);
  background-size: contain;
}

.img.products.sale.two.a {
  background: url(/img/sale_product_two-a.jpg);
  background-size: contain;
}
.img.products.sale.two.b {
  background: url(/img/sale_product_two-b.jpg);
  background-size: contain;
}
.img.products.sale.two.c {
  background: url(/img/sale_product_two-c.jpg);
  background-size: contain;
}
.img.products.sale.two.d {
  background: url(/img/sale_product_two-d.jpg);
  background-size: contain;
}
.img.products.sale.two.e {
  background: url(/img/sale_product_two-e.jpg);
  background-size: contain;
}
.img.products.sale.two.f {
  background: url(/img/sale_product_two-f.jpg);
  background-size: contain;
}
.img.products.sale.two.g {
  background: url(/img/sale_product_two-g.jpg);
  background-size: contain;
}

.wrapper.products.sale.two {
  flex-direction: row-reverse;
}
.wrapper.products.sale.two > .block.products.sale.small {
  margin-left: 10px;
  margin-right: 0px;
}

/* -------------------what is lucrumplus---------------------  */

.wrapper.article_what_is_lucrumplus {
  width: 100%;
  background: url(/img/background_what_is.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0px;
}

.container.what_is_lucrumplus {
  width: 100%;
  flex-direction: column;
}

.container.what_is_lucrumplus > h2 {
  font-size: 36px;
}

.wrapper.block_what_is_lucrumplus {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.block.what_is_lucrumplus:first-child {
  padding-left: 0px;
}
.block.what_is_lucrumplus:last-child {
  padding-right: 0px;
}

.block.what_is_lucrumplus {
  min-width: 300px;
  width: 33.33%;
  padding: 10px;
  margin-bottom: 20px;
}

.wrapper_content_what_is {
  width: 100%;
  text-align: center;
}

.wrapper_content_what_is > h3 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}

.wrapper_content_what_is > p {
  font-size: 14px;
  line-height: 1.8;
}

.container.what_is_lucrumplus > h3 {
  margin-bottom: 20px;
}

.big_button {
  font-size: 18px;
  font-weight: 600;
  border: solid 2px #000000;
  background: #fdebd2;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s;
}
.big_button:hover {
  box-shadow: 0px 0px 2px #000000;
  background: #ffffff57;
}

/* -------------------subscribe---------------------  */ 

.wrapper.subscribe{
  width: 100%;
  background: url(/img/background_call_back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container.subscribe{
  flex-direction: column;
  position: relative;
  margin-bottom: 0px;
}

.container.subscribe>h4{
  margin: 140px 0px 30px;
  font-weight: 400;
}

.form_subscribe{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.email_subscribe{
  width: 50%;
  font-size: 16px;
  border: none;
  box-shadow: inset 0px 0px 3px #00000081;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 15px 20px;
  outline: none;
  border: solid 1px #D6E6F5;
  border-right:  none;
  transition: .2s;
}

.button_subscribe{
  font-size: 16px;
  border: none;
  padding: 15px 20px;
  box-shadow: inset 0px 0px 3px #00000081;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid 1px #D6E6F5;
  border-left:  none;
  background-color: #ffffff;
  cursor: pointer;
  transition: .2s;
  color: #a7a7a7;

}

.form_subscribe:hover .email_subscribe{
  border: solid 1px #00000063;
  border-right: none;
}

.form_subscribe:hover .button_subscribe{
  border: solid 1px #00000063;
  border-left: none;
}

.button_subscribe:hover,
.button_subscribe.active{
 background: #00000063;
 color: #ffffff;
}


.container.subscribe>p{
  margin-bottom:20px;
  font-weight: 600;
  color: #ffffff;
  cursor: help;
}

.wraper_block_help{
  /* display: none; */
  width: 360px;
  position: absolute;
  bottom: 60px;
  transition: .3s;
  opacity: 1;
  /* top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); */

}


.block_help{
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #00000063;
  position: relative;

}

.triangles{
  position: absolute;
  border: 10px solid transparent; border-top: 10px solid #ffffff;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block_help>p{
  font-size: 14px;
  line-height: 1.8;
  font-style: italic;
}


/* -------------------media---------------------  */

@media (max-width: 800px) {
  .container.header {
    flex-wrap: wrap;
  }

  h1 {
    margin-bottom: 20px;
  }

  .container.header > form {
    margin: 0px 0px 20px 0px;
  }

  .middle_button {
    position: absolute;
    right: 3%;
    bottom: 93%;
  }

  .nav {
    flex-wrap: wrap;
  }

  .nav > li {
    width: 33.33%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
}
