* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1024px;
  width: 100%;
  padding: 20px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 20px;
}

.container.header {
  margin-bottom: 0px;
}

h1 {
  font-size: 36px;
  color: #f1651f;
  font-weight: 400;
  font-style: italic;
}

form {
  width: 100%;
  margin: 0px 20px;
  position: relative;
}
.formSearch {
  width: 100%;
  margin: 0px 20px;
  position: relative;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.search {
  font-size: 18px;
  width: 100%;
  background: #ebebeb;
  border: solid 2px #000000;
  border-radius: 25px;
  padding: 10px 65px 10px 20px;
  outline: none;
}

.icon_search {
  width: 40px;
  height: 40px;
  background: url(/img/outline_search_black_24dp.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  cursor: pointer;

}


.search:focus {
  background: #ffffff;
  transition: 0.5s;
}

.middle_button {
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  background: none;
  transition: 0.2s;
}

.middle_button:hover {
  background: #ebebeb;
}

/* -------------------nav-------------------- */

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav.ul>li:first-child{
 display: none;
}

li {
  list-style: none;
}

.a_nav {
  text-decoration: none;
  color: #949090;
  transition: 0.2s;
}

.a_nav:hover {
  color: #000000;
}

.linea {
  width: 100%;
  height: 3px;
  background-color: #ebebeb;
}

/* -------------------main---------------------  */

/* -------------------new---------------------  */

.wrapper_article {
  width: 100%;
  background: #ddebe3;
  padding-bottom: 20px;
}
.container.article {
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.wrapper.products {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper.products.new {
  flex-wrap: nowrap;
}

.block.products.new {
  width: 24%;
  /* min-width: 200px; */
}

.block.products.new {
  min-width: 30px;
}

.block.products {
  width: 18%;
  min-width: 178px;
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.block.products:hover {
  background: #ffffff5b;
}

.img.products {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.img.products.a {
  background: url(/img/new_product_a.jpg);
  background-size: cover;
}

.img.products.b {
  background: url(/img/new_product_b.jpg);
  background-size: cover;
}

.img.products.c {
  background: url(/img/new_product_c.jpg);
  background-size: cover;
}

.img.products.d {
  background: url(/img/new_product_d.jpg);
  background-size: cover;
}

.a_new_products {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-style: italic;
  font-size: 14px;
}

/* -------------------bestseller---------------------  */

.wrapper.products.bestseller {
  margin-bottom: 20px;
}

.block.products.bestseller,
.block.products.sale {
  padding: 20px 0px;
  margin: 0px 10px;
  position: relative;
  align-items: start;
}

.block.products:hover {
  background: #ffffff5b;
}

.img.products.bestseller,
.img.products.sale {
  padding-bottom: 100%;
  border: solid 1px #ddebe3;
  border-radius: 5px;
  transition: 0.2s;
}

.block.products:first-child {
  margin-left: 0px;
}

.block.products:last-child {
  margin-right: 0px;
}

.block.products:nth-child(5) {
  margin-right: 0px;
}

.block.products:nth-child(6) {
  margin-left: 0px;
}

.like {
  width: 40px;
  height: 40px;
  background: url(/img/outline_favorite_border_black_24dp.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 60px;
  right: 10px;
  transition: 0.2s;
  opacity: 0;
}

.like.active {
  background: url(/img/outline_favorite_black_24dp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.block.products.bestseller:hover .img.products.bestseller,
.block.products.sale:hover .img.products.sale {
  box-shadow: 0px 0px 10px #0000008f;
}

.block.products:hover .like {
  opacity: 1;
  top: 30px;
}

.img.products.bestseller,
.img.products.sale {
  padding-bottom: 78%;
}
.img.products.bestseller.a {
  background: url(/img/best_product_a.jpg);
  background-size: contain;
}

.img.products.bestseller.b {
  background: url(/img/best_product_b.jpg);
  background-size: contain;
}
.img.products.bestseller.c {
  background: url(/img/best_product_c.jpg);
  background-size: contain;
}
.img.products.bestseller.d {
  background: url(/img/best_product_d.jpg);
  background-size: contain;
}
.img.products.bestseller.e {
  background: url(/img/best_product_e.jpg);
  background-size: contain;
}
.img.products.bestseller.f {
  background: url(/img/best_product_f.jpg);
  background-size: contain;
}
.img.products.bestseller.g {
  background: url(/img/best_product_g.jpg);
  background-size: contain;
}
.img.products.bestseller.h {
  background: url(/img/best_product_h.jpg);
  background-size: contain;
}
.img.products.bestseller.i {
  background: url(/img/best_product_i.jpg);
  background-size: contain;
}
.img.products.bestseller.j {
  background: url(/img/best_product_j.jpg);
  background-size: contain;
}

.price.products {
  font-weight: 600;
  color: #949090;
  transition: 0.2s;
}

.block.products.bestseller:hover .price.products.bestseller {
  color: #000000;
}

/* -------------------sale---------------------  */

.wrapper.products.sale {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: flex-start;
}

.block.products.sale.small {
  width: 40%;
  padding-bottom: 0px;
}

.super_offer {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 10px;
  color: #949090;
}

.section.products.sale.big {
  width: 58%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block.products.sale.big {
  width: 32%;
}

.block.products.sale.big {
  padding-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.block.products.sale.big:nth-child(3) {
  margin-right: 0px;
}
.block.products.sale.big:last-child {
  margin-right: 0px;
}

.block.products.sale.big:nth-child(4) {
  margin-left: 0px;
}
.block.products.sale.big:first-child {
  margin-left: 0px;
}

.wrapper_price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price.products {
  width: 40%;
}
.price.products.diskont {
  width: 60%;
}

.price.products.diskont {
  text-align: end;
  font-size: 12px;
  font-weight: 400;
}

.block.products.sale:hover .super_offer {
  color: #25863b;
}

.block.products.sale:hover .price.products.new {
  color: #d11616;
}

.img.products.sale.a {
  background: url(/img/sale_product_a.jpg);
  background-size: contain;
}

.img.products.sale.b {
  background: url(/img/sale_product_b.jpg);
  background-size: contain;
}

.img.products.sale.c {
  background: url(/img/sale_product_c.jpg);
  background-size: contain;
}
.img.products.sale.d {
  background: url(/img/sale_product_d.jpg);
  background-size: contain;
}
.img.products.sale.e {
  background: url(/img/sale_product_e.jpg);
  background-size: contain;
}
.img.products.sale.f {
  background: url(/img/sale_product_f.jpg);
  background-size: contain;
}
.img.products.sale.g {
  background: url(/img/sale_product_g.jpg);
  background-size: contain;
}

.img.products.sale.two.a {
  background: url(/img/sale_product_two-a.jpg);
  background-size: contain;
}
.img.products.sale.two.b {
  background: url(/img/sale_product_two-b.jpg);
  background-size: contain;
}
.img.products.sale.two.c {
  background: url(/img/sale_product_two-c.jpg);
  background-size: contain;
}
.img.products.sale.two.d {
  background: url(/img/sale_product_two-d.jpg);
  background-size: contain;
}
.img.products.sale.two.e {
  background: url(/img/sale_product_two-e.jpg);
  background-size: contain;
}
.img.products.sale.two.f {
  background: url(/img/sale_product_two-f.jpg);
  background-size: contain;
}
.img.products.sale.two.g {
  background: url(/img/sale_product_two-g.jpg);
  background-size: contain;
}

.wrapper.products.sale.two {
  flex-direction: row-reverse;
}
.wrapper.products.sale.two > .block.products.sale.small {
  margin-left: 10px;
  margin-right: 0px;
}

/* -------------------what is lucrumplus---------------------  */

.wrapper.article_what_is_lucrumplus {
  width: 100%;
  background: url(/img/background_what_is.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0px;
}

.container.what_is_lucrumplus {
  width: 100%;
  flex-direction: column;
}

.container.what_is_lucrumplus > h2 {
  font-size: 36px;
}

.wrapper.block_what_is_lucrumplus {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.block.what_is_lucrumplus:first-child {
  padding-left: 0px;
}
.block.what_is_lucrumplus:last-child {
  padding-right: 0px;
}

.block.what_is_lucrumplus {
  min-width: 300px;
  width: 33.33%;
  padding: 10px;
  margin-bottom: 20px;
}

.wrapper_content_what_is {
  width: 100%;
  text-align: center;
}

.wrapper_content_what_is > h3 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}

.wrapper_content_what_is > p {
  font-size: 14px;
  line-height: 1.8;
}

.container.what_is_lucrumplus > h3 {
  margin-bottom: 20px;
}

.big_button {
  font-size: 18px;
  font-weight: 600;
  border: solid 2px #000000;
  background: #fdebd2;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s;
}

/* -------------------subscribe---------------------  */

.wrapper.subscribe {
  width: 100%;
  background: url(/img/background_call_back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container.subscribe {
  flex-direction: column;
  position: relative;
  margin-bottom: 0px;
}

.container.subscribe > h4 {
  margin: 140px 0px 30px;
  font-weight: 400;
}

.form_subscribe {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.email_subscribe {
  width: 50%;
  font-size: 16px;
  border: none;
  box-shadow: inset 0px 0px 3px #00000081;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 15px 20px;
  outline: none;
  border: solid 1px #d6e6f5;
  border-right: none;
  transition: 0.2s;
}

.button_subscribe {
  font-size: 16px;
  border: none;
  padding: 15px 20px;
  box-shadow: inset 0px 0px 3px #00000081;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid 1px #d6e6f5;
  border-left: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
  color: #a7a7a7;
}

.form_subscribe:hover .email_subscribe {
  border: solid 1px #00000063;
  border-right: none;
}

.form_subscribe:hover .button_subscribe {
  border: solid 1px #00000063;
  border-left: none;
}

.button_subscribe:hover,
.button_subscribe.active {
  background: #00000063;
  color: #ffffff;
}

.container.subscribe > p {
  margin-bottom: 20px;
  font-weight: 600;
  color: #ffffff;
  cursor: help;
}

.wraper_block_help {
  width: 360px;
  position: absolute;
  bottom: 20px;
  transition: 0.3s;
  opacity: 0;
  z-index: -1;
}

.wraper_block_help.active {
  opacity: 1;
  z-index: 1;
  bottom: 70px;

}

.block_help {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #00000063;
  position: relative;
}

.triangles {
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #ffffff;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block_help > p {
  font-size: 14px;
  line-height: 1.8;
  font-style: italic;
}

/* -------------------footer---------------------  */

.wrapper_footer {
  background: #2f466c;
}

.container.footer {
  max-width: 1240px;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

.wrapper_block_footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block_footer {
  width: 25%;
}

.block_footer > h4 {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}

.block_footer > ul > li {
  margin-bottom: 5px;
}
.block_footer > ul > li > a {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
}

.block_footer > ul > li > a:hover {
  text-decoration: underline;
}

.block_footer_social > .big_button,
.copyright.lang > .big_button {
  padding: 5px 20px;
  background: #2f466c;
  margin: 15px 0px;
  color: #ffffff;
  border-color: #ffffff;
}

.block_social {
  display: flex;
  justify-content: space-between;
}

.wrapper_icon_social {
  width: 20%;
  padding: 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.wrapper_icon_social:hover {
  background: #ffffff15;
}

.icon_social.a {
  background: url(/img/icon_social_a.png);
}
.icon_social.b {
  background: url(/img/icon_social_b.png);
}
.icon_social.c {
  background: url(/img/icon_social_c.png);
}
.icon_social.d {
  background: url(/img/icon_social_d.png);
}
.icon_social.e {
  background: url(/img/icon_social_e.png);
}
.icon_social.a,
.icon_social.b,
.icon_social.c,
.icon_social.d,
.icon_social.e {
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper_block_footer_copyright {
  width: 100%;
  background: #232347;
}

.container.footer.cop {
  padding: 20px;
  /* padding-left: 0px; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



.copyright.lang > .big_button {
  background: #232347;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  margin: 0px;
}

.big_button:hover,
.copyright.lang > .big_button:hover {
  box-shadow: 0px 0px 2px #000000;
  background: #ffffff33;
}
.copyright > ul {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 12px;
}
.copyright > ul > li > a {
  color: #ffffff;
  font-size: 12px;
  padding-left: 10px;
}



/* -------------------media---------------------  */

@media (max-width: 800px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .container.header {
    flex-wrap: wrap;
    padding-top: 30px;
  }

  h1 {
    margin-bottom: 20px;
  }

  .formSearch {
    
    margin: 0px 0px 20px 0px;
    padding-left: 5px;
    padding-right: 5px;
    
  }

  .middle_button {
    position: absolute;
    right: 3%;
    bottom: 92%;
  }

  .nav.ul>li:first-child{
    display: block;
   }
   

  .nav {
    flex-wrap: wrap;
  }

  .nav > li {
    width: 33.33%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .wrapper.products.new {
    justify-content: space-around;
  }

  .block.products.new {
    padding-left: 0px;
    padding-right: 0px;
  }

  .block.products {
    width: 48%;
    min-width: 140px;
  }

  .block.products.bestseller {
    margin: 0px;
  }

  .like {
    opacity: 1;
    top: 10px;
    box-shadow: 0px 0px 5px #0000005b;
  }

  .block.products:hover .like {
    top: 10px;
  }

  .wrapper.products.sale,
  .wrapper.products.sale.two {
    flex-direction: column;
  }

  .block.products.sale.small {
    width: 80%;
    margin: auto;
  }

  .wrapper.products.sale.two > .block.products.sale.small {
    width: 80%;
    margin: auto;
  }

  .section.products.sale.big {
    width: 100%;
  }

  .block.products.sale.big {
    width: 48%;
    margin: auto;
  }
  
  .wrapper_block_footer{
    position: relative;
  }

  .container.footer {
    padding-bottom: 140px;
  }

  .block_footer_social{
    width: 80%;
    position: absolute;
    bottom: -170px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .big_button.soc{
    max-width: 450px;
    margin-bottom: 20px;
  }
  
.block_social{
  width: 100%;
}

  .wrapper_icon_social{
    max-width: 40px;  
     padding: 5px;
  }

  .container.footer.cop {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  /* ------------nav------------- */

  .section{
    position: relative;
  }

  .container.nav.active{
    width: 60%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: #567262;
    z-index: 5;
    transition: .3s;
  }
  .container.nav{
    left: -200%;
   transition: .3s;
   position: fixed;
  }

  .container.nav.active::before{
    content: "";
    width: 40%;
    height: 100%;
    position: fixed;
    background: rgba(86, 114, 98, 0.521);
    left:60%;
   top:0;
   transition: .3s;

  }

  .container.nav::before{
    content: "";
    left:-150%;
    transition: .3s;
  }

  .wrapper_button_nav{
    width: 30px;
    height: 20px;
    position: fixed;
    left:10px;
    top:10px;
    z-index: 6;
    cursor: pointer;
    transition: .3s;

  }

  .button_nav{
    position: fixed;
    width: 30px;
    height: 4px;
    background-color: black;
    top: 18px;
    left:10px;
    border-radius: 5px;
    transition: .3s;
  }

  .button_nav.active{
    width: 0px;
    left: 45%;
   }

  .button_nav::after,
  .button_nav::before{
    content: "";
    position: fixed;
    width: 30px;
    height: 4px;
    background-color: black;
    top: 10px;
    left:10px;
    border-radius: 5px;
    transition: .3s;
  }
 
  .button_nav::before{
    top: 26px;
   }

  .wrapper_button_nav.active{
    left:45%;
    transition: .3s;
  }

  .button_nav.active::after,
  .button_nav.active::before{
    left:45%;
    border-radius: 5px;
    transition: .3s;
    transform: rotate(45deg);
    height: 2px;
    top:19px;
  }

  .button_nav.active::before{
    transform: rotate(-45deg);
    top: 19px;
  }


  .nav.ul.active{
    width: 60%;
    flex-direction: column;
    top:50px;
    left: 10px;
    position: fixed;
    transition: .2s;
  }
  .nav.ul{
    left: -100%;
    transition: .2s;
  }

  .nav.ul>li{
    width: 100%;

  }

  .a_nav{
    width: 100%;
    text-align: start;
    color: #ffffff;
  }

  .a_nav:hover{

    color: #ffffff;
  }


  @media (max-width: 600px) {
    .container.article > h2 {
      margin-bottom: 10px;
    }

    .price.products.bestseller {
       font-weight: 600;
      color: #000000;
    }

    .price.products {
      width: 100%;
      color: #000000;
    }

    .price.products.diskont {
      width: 100%;
      text-align: start;
      color: rgb(255, 0, 0);
    }

    .block.products.sale.big > .wrapper_price {
      width: 100%;
      flex-direction: column;
    }

    .container.what_is_lucrumplus > h2 {
      text-align: center;
    }

    .container.subscribe > h4 {
      margin-top: 0px;
      margin-bottom: 90px;
    }

    .form_subscribe > input {
      font-size: 12px;
    }

    .email_subscribe {
      width: 90%;
    }

    .button_subscribe {
      border-left: none;
      background: #00000063;
      color: #ffffff;
    }

    .triangles {
      top:103%
    }

    .wraper_block_help {
      width:250px;
  }

    .container.what_is_lucrumplus > h3 {
      text-align: center;
    }

    .container.subscribe > p {
      text-align: center;
    }

    .block_footer{
      width: 50%;
      text-align: center;
      margin-bottom: 20px;
    }

    .copyright.cop{
      width: 100%;
    }

    .copyright > ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .copyright.cop > ul > li {
      width: 45%;
      margin-bottom: 10px;
    }
  }
}
